.cookbook-icon {
  padding: 0;
  margin: 0;
  height: 100px;
  width: 100px;
}

.cookbook-icon:hover {
  transform: scale(1.05);
}
.nav {
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 10;
  /* box-shadow: #3ca83c; */
  box-shadow: 1px 1px 20px #707870;
}
/* Random Meal Generator Styles */
#random-meal-section {
  background-color: #ffcce1; /* Light background color for the section */
  padding: 300px; /* Padding around the section */
  font-family: "Muli", sans-serif; /* Font family for text */
  text-align: left;
  height: 100%;
}

#random-meal-section h3 {
  font-size: 2rem; /* Font size for the main heading */
}

#random-meal-section .button-primary {
  color: black; /* Button text color */
  background-color: white; /* Button background color */
  padding: 10px 20px; /* Padding inside the button */
  border-radius: 4px; /* Rounded corners for the button */
  border: #101110; /* Remove border */
  cursor: pointer; /* Pointer cursor on hover */
}

#random-meal-section img {
  max-width: 100%; /* Ensure images are responsive */
  border-radius: 8px; /* Rounded corners for images */
}

.menu--cards {
  padding-top: 10px;
  margin: 0 auto;
  /* max-width shows the size of the image in the card */
  max-width: 1200px;
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  /* min width->300px and max will be 1fr */
  /* auto-fill--> browser fixes as many cols as it can on each indv row */
  gap: 10px;
  font-family: sans-serif;
}

.card {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition-duration: 0.1s;
  border-radius: 10px;
}

.card--img {
  width: 100%;
  display: block;
  border-radius: 10px 10px 0 0;
  border-color: #efd7d7;
}

.card:hover {
  transform: scale(1.05);
}

.abt-dish-details {
  /* color: white; */
  color: #707870;
  font-family: sans-serif;
  line-height: 1;
  text-align: center;
}

.card--content {
  line-height: 1.5;
  font-size: 0.9 em;
  background-color: #dec1e9;
  padding: 5px;
}

/* remove the space between img and the text from top and botom */
.card--content > p:first-of-type {
  margin-top: 0;
  padding-bottom: 0;
  text-align: center;
  /* color: white; */
  color: #707870;
}

.card--content > p:last-of-type {
  margin-bottom: 0;
  text-align: center;
  /* color: white; */
  color: #707870;
  margin-top: 0;
}

.card--info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(127, 122, 122);
  color: #c71585;
  padding: 15px;
  font-size: 20px;
  background-color: #f9efbc;
  border-radius: 0 0 10px 10px;
}

.card--info i {
  margin-right: 10px;
  color: rgb(157 99 178);
  transition: transform 1s;
  justify-content: space-between;
}

.card--info i:hover {
  color: rgb(157 99 178);
  transform: translateY(-15px);
}

.card--link a {
  color: mediumvioletred;
  text-decoration: none;
}

.card--link a:hover {
  color: white;
}
.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: white;
  background-color: transparent;
  padding: 1rem;
}

.navbar-links li:hover {
  background-color: #555;
  background-color: transparent;
  /* color: #c71585; */
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 800px) {
  .cookbook-icon {
    padding: 9px;
    /* margin: 0; */
    height: 59px;
    width: 80px;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links ul li a {
    padding: 0.5rem 1rem;
    font-size: 20px;
  }

  .navbar-links.active {
    display: flex;
  }
}

/* navbar- header ends */

body {
  margin: 0;
  padding: 0;
  /* background-color:rgb(251, 228, 251); */
}

.bg_img,
.tags-img {
  overflow: hidden;
  height: 600px;
  width: 100%;
  padding-bottom: 20px;
}

.tags-header-img {
  object-fit: fill;
  height: 1000px;
  width: 100%;
}

.bg_img img,
.tags-header-img img {
  width: 100%;
  height: 140%;
  object-fit: cover;
}

.text {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  color: #f0d66a;
  font-family: "Georgia", serif;
  font-size: 80px;
}

.tags-tagline {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f0d66a;
  /* color: #c71585; */
  font-family: "Times New Roman", Times, serif;
  font-size: 80px;
}

.contact-banner-text {
  position: absolute;

  /* top: 70%; */
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f0d66a;
  padding-bottom: 250px;
  font-family: "Times New Roman", Times, serif;
  font-size: 80px;
}

.nav {
  background-color: #9d63b2;
  /* color:#9d63b2;  */
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 25px;
}

.nav-right {
  display: flex;
  text-align: right;
  text-decoration: none;
  gap: 20px;
  list-style-type: none;
}

.nav-right li {
  display: inline;
  padding: 10px;
}

.nav-right li a {
  text-decoration: none;
  font-family: sans-serif;
  padding-right: 10px;
  color: #f0d66a;
  /* color: mediumvioletred; */
  font-size: 22px;
}

.nav-right li a:hover {
  /* color: mediumvioletred; */
  color: #e1e2e1;
  font-style: oblique;
  font-weight: bold;
}

.name {
  display: flex;
  float: left;
  font-size: 25px;
  text-shadow: 20px;
}

.hr-tag {
  height: 3px;
  width: 50%;
  background: #ab8dd0;
}

.about-text {
  font-size: 18px;
  color: white;
}

.about-img-text {
  padding-top: 100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  font-family: sans-serif;
}

.about-img img {
  height: 600px;
  /* object-fit: contain; */
  border-radius: 70px;
  padding-left: 10px;
}

.about--image {
  padding-right: 10px;
}

.heading {
  color: mediumvioletred;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  font-size: 40px;
}

.about-content {
  padding-left: 50px;
  padding-right: 50px;
}

.abt-dish-name h3 {
  text-align: center;
  color: #c71585;
  font-family: Georgia, Times, "Times New Roman", serif;
}

.abt-dish-name {
  font-size: 20px;
}

.about-card-items {
  background-color: #dec1e9;
  color: white;
  align-items: center;
  border-radius: 50px;
}

.about-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 10px;
}

.view-recipe-img img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 250px;
  width: 250px;
  border-radius: 50px;
}

.abt-view-dish-link {
  text-align: center;
  padding: 3%;
}

.abt-view-dish-link a {
  color: #c71585;
  text-decoration: none;
  font-size: 20px;
  font-family: Georgia, Times, "Times New Roman", serif;
}

.abt-view-dish-link a:hover {
  color: white;
}

.large {
  font-family: cursive;
  color: #f0d66a;
  font-size: 35px;
  font-style: italic;
  text-align: center;
}

.medium {
  color: mediumvioletred;
  font-family: cursive;
  font-size: 25px;
  font-style: italic;
  text-align: center;
}

.small {
  color: mediumvioletred;
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
}

.about-food-icons {
  display: flex;
  justify-content: space-between;
  font-family: cursive;
  /* color: #F0D66A; */
  color: #8d9a8d;
}

.about-food-icons i {
  color: #3ca83c;
  margin: 10px;
  padding: 0;
  font-size: 20px;
}
.tags-tagline {
  padding-top: 200px;
  /* color: #F0D66A; */
  color: #c71585;
  text-align: center;
  padding-bottom: 300px;
}

.tags-recipe-type {
  display: grid;
  /* grid-template-columns: repeat(5,1fr); */
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  /* grid-template-rows: repeat(4,1fr); */
  margin: 0 auto;
  gap: 10px;
  font-family: sans-serif;
  padding: 10px;
}

.tags-recipe-type-img {
  padding: 5px;
  background-color: #dec1e9;
}

.tags-recipe-type-img img {
  height: 200px;
  object-fit: contain;
  border-radius: 10px;
}

.tags-recipe-type-img img:hover {
  opacity: 0.7;
}

/* text over image start */

.tags-recipe-type-img {
  position: relative;
  width: 100%;
}

.tags-recipe-type-img:hover .image {
  opacity: 0.3;
}

.tags-recipe-type-img:hover .middle {
  opacity: 01;
}

.middle {
  transition: 0.3s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: fit-content;
}

.text {
  width: 200px;
  justify-items: center;
  align-content: space-between;
  opacity: 0.8;
}

.text a {
  background-color: #f0d66a;
  color: rgb(10, 10, 10);
  font-size: 20px;
  text-decoration: none;
  padding: 10px 25px;
  font-weight: bolder;
}

.tags-img-block {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: 0.3s ease;
  backface-visibility: hidden;
}

.fa-solid {
  justify-content: center;
  margin: 8px;
  font-size: 20px;
  color: #c71585;
}
.fa-utensils {
  background-color: #f0d66a;
  border-radius: 100px;
}

.tags-recipe-header {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
}

.tags-viewall-btn {
  margin: 20px;
  padding: 5px;
  color: #101110;
  background-color: #f0d66a;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  font-family: sans-serif;
}

.tags-viewall-btn:hover {
  background-color: mediumvioletred;
  color: white;
}

.tag-item-name {
  align-items: center;
  text-align: center;
  color: #707870;
  font-size: 20px;
  font-weight: bolder;
  font-family: sans-serif;
}

.recipe-icons {
  display: flex;
  color: white;
  background-color: rgb(195, 153, 153);
  justify-content: space-between;
}

.ingredients-list {
  color: white;
}

.recipe-video {
  color: white;
}

.recipes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  /* grid-template-columns: repeat(3, 1fr); */
  gap: 10px;
}

.recipe-container {
  background-color: #dec1e9;
  justify-items: center;
  padding-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
}

.recipe--img {
  align-items: center;
  border-radius: 5px;
  height: 250px;
  width: 250px;
  margin: 0 auto;
  display: flex;
}

.recipe-item-icon-list {
  display: flex;
  justify-content: space-between;
}

.recipe-icon-text {
  display: flex;
  margin-right: 5px;
  font-family: "Arial Narrow Bold", sans-serif;
  color: white;
}

.tot-cook-time {
  font-size: 17px;
  text-align: center;
  margin-right: 5px;
}

.recipe-icon-details {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  border-color: #c71585;
  border-style: dotted;
}

.fa-clock,
.fa-kitchen-set,
.fa-fire-burner,
.fa-bell-concierge,
.fa-face-smile-beam,
.fa-hands-clapping,
.fa-bookmark {
  color: #af13bb;
}

.bookmark {
  visibility: hidden;
  color: red;
  background-color: white;
  z-index: 20000;
}

.fa-bookmark:hover.bookmark {
  visibility: visible;
  color: #f0d66a;
}

.recipe-totalCookTime {
  text-align: center;
  padding: 0%;
  margin: 0%;
}

.fa-solid .fa-clock {
  margin-right: 30px;
}

.tot-cook-time {
  margin: 0px;
}

.fa-bookmark:hover {
  color: white;
}

.recipe-img-name a {
  text-decoration: none;
  font-size: 30px;
  color: #c71585;
  font-family: Georgia, Times, "Times New Roman", serif;
}
.recipe-img-name {
  display: flex;
  justify-content: space-between;
}
.clap-no {
  font-size: 20px;
  color: white;
  font-family: "Times New Roman", Times, serif;
}

.recipe-ingredients {
  border-radius: 5px;
  margin: 5px;
  background-color: rgb(225 226 225);
}

.recipe-ingredients:hover {
  transform: scale(1.01);
  box-shadow: 1px 1px 20px #f0d66a;
}

.recipe-ingredients h3 {
  text-align: center;
}

.ingredient-nos {
  padding-left: 50px;
  color: black;
  list-style: circle;
  letter-spacing: 1px;
  word-spacing: 1px;
  font-family: Georgia, Times, "Times New Roman", serif;
  line-height: 1.5;
}

.recipe-video {
  display: flex;
  justify-content: space-between;
  margin: 5px;
  border-radius: 5px;
}

.recipe-video video {
  border-radius: 20px;
  margin: 10px;
}

.recipies {
  background-color: #fff;
  color: #f0d66a;
  font-size: 30px;
  text-align: center;
  font-family: sans-serif;
  font-weight: bolder;
}

.recipe-ratings i {
  padding-top: 50%;
  margin: 0;
}

.recipe-ratings p {
  margin-left: 10px;
}

.recipe-ratings {
  padding-top: 40px;
  margin-right: 9px;
}

.ratings-container label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  padding-inline: 9px;
}

.ratings-container input {
  display: none;
}

.ratings-container label::before {
  content: "\2605";
  position: absolute;
  display: inline-block;
  font-size: 20px;
}

.ratings-container label::after {
  content: "\2605";
  position: absolute;
  display: inline-block;
  font-size: 20px;
  color: #f0d66a;
  opacity: 0;
}
.ratings-container label:hover::after,
.ratings-container label:hover ~ label::after {
  opacity: 1;
}

.menu-list {
  margin-top: 150px;
  color: #707870;
  padding-left: 20px;
  font-size: larger;
  font-weight: bolder;
}
.menu-items {
  color: mediumvioletred;
  font-size: larger;
  padding-left: 20px;
  text-decoration: none;
}

.menu-items:hover {
  color: purple;
  font-size: x-large;
}

.contact {
  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  margin: 10px;
}

.contact-form {
  background-color: #dec1e9;
  display: flex;
  align-items: center;
}

.contact-form p {
  text-align: center;
  color: mediumvioletred;
  font-size: 30px;
  font-weight: bold;
  font-family: cursive;
  margin-left: 10px;
}

.contact-text h3 {
  margin: 0;
  font-family: sans-serif;
  font-size: 20px;
}

.contact-img {
  background-color: #dec1e9;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#form-main {
  margin-left: 120px;
}

#name,
#email {
  width: 314px;
  height: 30px;
  border-radius: 5px;
}
#message {
  height: 100px;
  /* width: 400px; */
  width: 314px;
  border-radius: 5px;
}

.submit {
  font-size: medium;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 7px;
  /* background-color: #9d63b2; */
  background-color: mediumvioletred;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
}

.submit:hover {
  background-color: #9d63b2;
  color: white;
}

.contact-map {
  overflow: hidden;
  padding-bottom: 83%;
  position: relative;
  background-color: #fff;
  margin: 10px;
}

.contact-map iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.contact-text {
  background-color: #dec1e9;
  text-align: center;
  color: black;
  margin: 10px;
  border-radius: 10px;
  font-family: sans-serif;
  padding-bottom: 5px;
  padding-top: 5px;
}

.fa-phone,
.fa-envelope,
.fa-briefcase {
  justify-content: center;
  font-size: 20px;
  margin-top: 15%;
  color: #9d63b2;
  padding: 0%;
  margin-top: 0;
}

.fa-briefcase:hover {
  font-size: 25px;
}

.fa-envelope:hover {
  font-size: 25px;
}

.fa-phone:hover {
  font-size: 25px;
}

.coming-soon-text {
  text-align: center;
  color: #f0d66a;
  font-family: cursive;
  font-size: 60px;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  /* background-color: #23cc71; */
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  /* background-color: #fff; */
  background-color: mediumvioletred;
  border-radius: 10px;

  /* position: absolute; */
}
/* hamburger ends */

@media only screen and (max-width: 540px) {
  .bg_img,
  .tags-img {
    overflow: hidden;
    height: 265px;
    width: 100%;
    padding-bottom: 20px;
  }
  .text b {
    font-size: 50px;
  }

  .text {
    top: 15%;
  }

  .tags-header-img {
    object-fit: cover;
  }

  .about-img-text {
    padding-top: 0px;
    margin: 0 auto;
    /* max-width: 200px; */
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-columns: repeat(auto-fill,minmax(300px,1fr)); */
    gap: 10px;
    font-family: sans-serif;
    /* flex-direction: column; */
    flex-wrap: wrap;
    align-content: stretch;
  }
  .large {
    font-size: 50px;
  }

  .medium {
    font-size: 30px;
  }
  .small {
    font-size: 18px;
    margin-left: 53px;
  }

  .about-img img {
    margin-top: 10px;
    height: 375px;
    width: 100%;
    margin-left: 17px;
    /* border-radius: 20px; */
    /* object-fit: none; */
  }

  .view-recipe-img img {
    height: 230px;
    width: 230px;
    /* width: 100%; */
  }

  .about-card-items {
    margin-left: 5px;
  }

  .about-cards {
    /* padding-top: 10px; */
    margin: 0 auto;
    max-width: 1200px;
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
    font-family: sans-serif;
  }

  .footer-text {
    align-items: center;
    font-size: 15px;
    display: flex;
    flex-direction: column;
  }

  .footer-icon {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* align-content: stretch; */
    justify-content: center;
  }

  .fa-1x {
    font-size: 11.5px;
  }

  .recipe-ratings {
    padding-top: 0px;
  }

  .recipe-ratings i {
    font-size: 10px;
    padding-top: 83%;
  }

  .recipe-icon-text {
    font-size: 17px;
  }

  .tot-cook-time {
    font-size: 27px;
  }

  .ingredients-list {
    font-size: 25px;
  }

  .ingredient-nos {
    padding-left: 15px;
    color: black;
    list-style: circle;
    letter-spacing: 0px;
    font-size: 17px;
  }

  .recipe-ratings p {
    display: none;
  }
  .recipe-img-name {
    display: flex;
    justify-content: space-evenly;
  }

  .menu-items {
    padding-left: 10px;
    font-size: 16px;
  }

  /*  hamburger menu */

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links li {
    text-align: center;
  }

  .navbar-links.active {
    display: flex;
    flex-direction: column;
  }

  .tags-tagline {
    padding-top: 0px;
    font-size: 35px;
    top: 18%;
  }

  /* .about-content {
  padding-left: 28px;
} */

  .tags-recipe-type {
    display: grid;
    /* grid-template-columns: repeat(5,1fr); */
    grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
    /* grid-template-rows: repeat(4,1fr); */
    margin: 0 auto;
    gap: 10px;
    font-family: sans-serif;
    margin: 10px;
    align-content: stretch;
    justify-content: center;
    align-items: center;
    justify-items: center;
  }

  .tags-recipe-type-img {
    margin: 0px;
    padding: 0;
  }

  .tags-recipe-type-img img {
    height: 133px;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
  }

  #form-main {
    margin-left: 0px;
  }

  .contact-img {
    display: flex;
    flex-direction: column;
  }

  .contact-banner-text {
    padding-bottom: 120px;
  }
}

@media only screen and (max-width: 912px) {
  .text {
    top: 21%;
    left: 35%;
  }

  /* .tags-tagline{
      padding-top : 0px;
      font-size: 35px;
      top: 25%;
  } */

  .tags-tagline {
    padding-top: 200px;
    font-size: 35px;
    top: 18%;
  }

  .recipe-ratings i {
    font-size: 10px;
    padding-top: 83%;
  }

  .recipes {
    display: flex;
    /* grid-template-columns: repeat(3,minmax(450px,1fr)); */
    /* grid-template-columns: repeat(auto-fill,minmax(400px,1fr)); */
    /* grid-template-columns: repeat(3, 1fr); */
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .recipe-icon-text {
    font-size: 17px;
  }

  .tot-cook-time {
    font-size: 17px;
  }

  .ingredients-list {
    font-size: 25px;
  }
  .recipe-img-name {
    display: flex;
    justify-content: space-evenly;
  }

  .footer-text {
    align-items: center;
    font-size: 15px;
    display: flex;
    flex-direction: column;
  }

  .footer-icon {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* align-content: stretch; */
    justify-content: center;
  }

  /* hamburger menu */

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links li {
    text-align: center;
  }

  .navbar-links.active {
    display: flex;
    flex-direction: column;
  }

  .about-img-text {
    padding-top: 25px;
    margin: 0 auto;
    /* max-width: 200px; */
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-columns: repeat(auto-fill,minmax(300px,1fr)); */
    gap: 10px;
    font-family: sans-serif;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  .about-cards {
    /* padding-top: 10px; */
    margin: 0 auto;
    max-width: 1200px;
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
    font-family: sans-serif;
  }
}
